/* Write your CSS here */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
  font-family: 'Roboto';
  height: 100vh;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  font-size: 25px;
}
.data {
  font-size: 18px;
}
.button {
  background-color: blue;
  border-width: 0px;
  color: white;
  padding: 8px;
  cursor: pointer;
  outline: none;
}
.count {
  color: #c20a72;
}
